body{
    margin: 0;
}
.main{
    position: relative;
}
.title{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1rem;
    text-align: center;
    top:42rem;
    font-size: 6rem;
}
.animation{
    position: absolute;
    z-index: 0;
    width: 100%;
    background-color: aqua;
}
.human_png{
    position: absolute;
    z-index: 2;
    width: 60%;
    margin-left: 20%;
    top:42rem;
    display: flex;
    justify-content: space-between ;
}
img{
    width: 250px;
    height: 400px;
}
.hover_text{
    position: absolute;
    z-index: 3;
    width: 50%;
    margin-left: 25%;
    top:53rem;
    display: flex;
    justify-content: space-between ;
}
.hover_on_text_left {
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 50px;
    margin-left: 15%;
    background-color: yellow;
    display: none;
}
.hover_on_text_right{
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 50px;
    margin-left: 95%;
    background-color: yellow;
    display: none;
}